In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report

from preproces import text_clean

import pickle

In [3]:
VALIDATION_DATASET = False
TEST_DATSET = True

In [4]:
if VALIDATION_DATASET:
    df = pd.read_csv('C:/My folders/Deva paul/AI/SEM 5/356 NLP/NLP Project/New folder/FNS2023_Datasets/English/validation/out/valid_annotated.csv')
if TEST_DATSET:
    df = pd.read_csv('C:/My folders/Deva paul/AI/SEM 5/356 NLP/NLP Project/New folder/FNS2023_Datasets/English/testing/out/test_annotated.csv')
    
df.head()

   file_id               toc_section  toc_section_pos  toc_section_len
0    25082           Highlights 2011               45               37
1    25082               Impax Facts               82               57
2    25082      Chairman’s Statement              139              273
3    25082               Our history              412               41
4    25082  Chief Executive’s Report              453              371

In [5]:
df.isna().sum()

file_id            0
toc_section        0
toc_section_pos    0
toc_section_len    0
dtype: int64

In [6]:
df['toc_section_cleaned'] = df.toc_section.apply(text_clean)
df.head()

,file_id,toc_section,toc_section_pos,toc_section_len,toc_section_cleaned
0,25082,Highlights 2011,45,37,highlight
1,25082,Impax Facts,82,57,impax fact
2,25082,Chairman’s Statement,139,273,chairman statement
3,25082,Our history,412,41,histori
4,25082,Chief Executive’s Report,453,371,chief execut report

In [15]:
label_encoder = pickle.load(open('model/label_encoder.pkl', 'rb'))

In [7]:
df.is_section_in_summary = label_encoder.transform(df.is_section_in_summary)
df.head()

,file_id,toc_section,toc_section_pos,toc_section_len,is_section_in_summary,toc_section_cleaned
0,30777,Financial and operational highlights,161,22,0,financi oper highlight
1,30777,Strategic report,183,6,1,strateg report
2,30777,Global network,189,11,0,global network
3,30777,Chairman’s statement,200,4,1,chairman statement
4,30777,Chief Executive’s review,204,4,1,chief execut review

In [7]:
feature_label_list=['toc_section_cleaned', 'toc_section_pos', 'toc_section_len', 'is_section_in_summary']
feature_list=['toc_section_cleaned', 'toc_section_pos', 'toc_section_len']
categorical_cols = ['toc_section_pos', 'toc_section_len']

In [8]:
df.toc_section_cleaned.fillna('missing', inplace=True)

In [9]:
X = df[feature_list]
#y = df.is_section_in_summary

In [10]:
tfidf_vectorizer_toc_section = pickle.load(open('model/tfidf_vectorizer_toc_section.pkl', 'rb'))

In [11]:
X_tfidf = tfidf_vectorizer_toc_section.transform(X.toc_section_cleaned)
X_tfidf_columns = [i + '_' + 'toc' for i in tfidf_vectorizer_toc_section.get_feature_names()]
X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=X_tfidf_columns)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [12]:
clf = pickle.load(open('model/section_classification_model.pkl', 'rb'))

In [13]:
X_new = X_tfidf_df.copy()
X_new['toc_section_pos'] = X.toc_section_pos
X_new['toc_section_len'] = X.toc_section_len
y_pred = clf.predict(X_new)

In [16]:
if VALIDATION_DATASET:
    print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.93      0.85      7681
           1       0.62      0.29      0.40      2871

    accuracy                           0.76     10552
   macro avg       0.70      0.61      0.62     10552
weighted avg       0.74      0.76      0.73     10552

In [16]:
df_predicted = df.copy()
df_predicted['pred'] = y_pred
y_pred_prob = clf.predict_proba(X_new)
y_pred_prob_df = pd.DataFrame(y_pred_prob,columns=label_encoder.classes_)
df_predicted['False'] = y_pred_prob_df[False]
df_predicted['True'] = y_pred_prob_df[True]
df_predicted

,file_id,toc_section,toc_section_pos,toc_section_len,toc_section_cleaned,pred,False,True
0,25082,Highlights 2011,45,37,highlight,1,0.006433,0.993567
1,25082,Impax Facts,82,57,impax fact,0,0.758737,0.241263
2,25082,Chairman’s Statement,139,273,chairman statement,1,0.018208,0.981792
3,25082,Our history,412,41,histori,0,0.776262,0.223738
4,25082,Chief Executive’s Report,453,371,chief execut report,1,0.045702,0.954298
...,...,...,...,...,...,...,...,...
13208,4049,Viability statement and going concern,3058,1705,viabil statement go concern,0,0.875051,0.124949
13209,4049,The Groups approach to risk,4763,357,group approach risk,0,0.890334,0.109666
13210,4049,Risk governance,5120,5615,risk govern,0,0.933711,0.066289
13211,4049,Stress testing,10735,201,stress test,0,0.929925,0.070075
13212,4049,Full analysis of risk categories,10936,13898,full analysi risk categori,0,0.915741,0.084259

In [17]:
if VALIDATION_DATASET:
    pickle.dump(df_predicted, open('out/validation_df_predicted.pkl', 'wb'))
if TEST_DATSET:
    pickle.dump(df_predicted, open('out/test_df_predicted.pkl', 'wb'))